.container{
}
.row{

}
body{
    padding:100px,50px,50px,50px;

}
#output{
 border-color: black;
 border-width: 500px;
 height: 200px;
}
img{
    height: 20px;
}
/* buttons */
#equals{
height: 100px;
width: 50px;
margin-left: 0%;

}
#otherbtn{
    height: 50px;
    width: 100px;
}